#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
SAIDIAN_BUNDLE_IDENTIFIER = cn.saydian.app.global
SAIDIAN_WECHAT_APP_ID = saidian-wechat-unconfigured
SAIDIAN_WECHAT_UNIVERSAL_LINK = saidian-wechat-unconfigured
SAIDIAN_WECHAT_UNIVERSAL_LINK_HOST = saidian-unconfigured.invalid
SAIDIAN_ALIPAY_URL_SCHEME = $(PRODUCT_BUNDLE_IDENTIFIER).alipay
#include? "Local.xcconfig"
